
<nav class="navbar">
  <div class="nav-brand">
    <a routerLink="/" class="nav-brand">
      <span *ngIf="userName; else loggedOutTitle">
        Task Management of {{ userName }}
      </span>
      <ng-template #loggedOutTitle>
        Task Management
      </ng-template>
    </a>
  </div>
  
  <ul class="nav-links">
    <ng-container *ngIf="authService.isAuthenticated()">
      <li><a routerLink="/">Görev Listem</a></li>
      <li><a routerLink="/add">Yeni Görev Ekle</a></li>
      <li><a routerLink="/stats">İstatistikler</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/admin">👑 Admin</a></li>
      <li>
        <button (click)="onLogout()" class="logout-btn">Çıkış Yap</button>
      </li>
    </ng-container>
    <ng-container *ngIf="!authService.isAuthenticated()">
      <li><a routerLink="/login">Giriş Yap</a></li>
      <li><a routerLink="/register">Kayıt Ol</a></li>
    </ng-container>

  </ul>
</nav>


<main class="container">
  <router-outlet></router-outlet>
</main>